html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

body {
    /* Default gradient background */
    background-image: linear-gradient(to right, #ff0000, #ffff00);
}

.header {
    padding: 30px;
    text-align: center;
}

.gradient-direction-menu {
    margin: 0 10px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 15px;
    background-color: transparent;
    font-size: 0.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.gradient-direction-menu:hover {
    box-shadow: 3px 3px 7px #414141;
}

.background-setting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.color-pickers-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.color-picker {
    margin: 0 10px;
    cursor: pointer;
}

.color-picker:hover {
    box-shadow: 3px 3px 7px #414141;
}

.color-picker-wrapper {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#random-picker {
    border: 2px solid white;
    border-radius: 15px;
    background-color: transparent;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#random-picker:hover {
    box-shadow: 3px 3px 7px #414141;
}

.color-code-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.color-code-box {
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px 25px;
    min-width: 250px;
    min-height: 45px;
    background-color: rgba(60, 60, 60, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    color: white;
}

.color-code {
    margin: 0;
}

.cta-info {
    margin-top: 5px;
    font-size: small;
}
