:root {
  --main-title-color: rgb(241, 241, 241);
  --sub-title-color: rgb(204, 204, 204);
  --color-input-label-color: whitesmoke;
  --random-btn-text-color: whitesmoke;
  --random-btn-hover-text: rgb(248, 153, 74);
  --random-btn-hover-border: rgb(248, 153, 74);
  --copied-text-color: rgb(248, 153, 74);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: "Georgia", cursive;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--main-title-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-shadow: 4px 4px black;
}

.color-input-container {
  width: 50%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.color-input-container .color-input-label {
  margin: 15px;
  color: var(--color-input-label-color);
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px black;
}

.color-input-container .color-input {
  width: 32px;
  height: 32px;
  border: none;
  margin: 10px;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.direction-title {
  margin: 0 0 10px 0;
  padding: 0;
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-shadow: 2px 2px black;
}

.direction {
  width: 130px;
  margin: 0px 0 20px 0;
  font-size: 1.1rem;
  font-family: "Georgia", cursive;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  padding: 10px 15px;
  color: rgb(62, 78, 144);
  box-shadow: 2px 2px black;
  outline: none;
}

.random-btn {
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: transparent;
  padding: 15px;
  font-family: "Georgia", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--random-btn-text-color);
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px black;
}

.random-btn:hover {
  background-color: var(--random-btn-text-color);
  color: var(--random-btn-hover-text);
  border: 1px solid var(--random-btn-hover-border);
  text-shadow: none;
  box-shadow: none;
}

.bg-code-container {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-code-container .subtitle {
  color: var(--sub-title-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.75rem;
  text-shadow: 2px 2px black;
}

.bg-code-container .bg-code {
  margin: 20px auto;
  max-width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 35px 20px;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  background-color: black;
  color: whitesmoke;
  line-height: 0px;
  font-size: 1.1rem;
  cursor: pointer;
}

.bg-code-container .copied {
  display: none;
  color: var(--copied-text-color);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px rgb(49, 49, 49);
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-shadow: 3px 3px black;
  }

  .bg-code-container .subtitle {
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-shadow: 2px 2px black;
  }

  .bg-code-container .bg-code {
    margin: 10px auto;
    padding: 25px 15px;
    font-size: 0.9rem;
  }
}
